<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta content="{{ site.description }}" name="description">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author.name }}">
  <title>{{ site.title }}</title>
  
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="shortcut icon" href="{{ site.favicon | prepend: site.baseurl }}">

  {% for stylesheet in site.stylesheets %}
    <link href="{{ stylesheet.url | prepend: site.baseUrl }}" rel="stylesheet">
  {% endfor %}

  {% for script in site.scripts %}
    <script src="{{ script.url | prepend: site.baseurl }}"></script>
  {% endfor %}
</head>
